streamlit
pandas
requests
selenium
webdriver-manager
beautifulsoup4
lxml
openpyxl
python-dotenv
python-docx
duckduckgo-search
selenium-wire
easyocr
sentence-transformers
opencv-python-headless
numpy
Pillow
rapidfuzz
undetected-chromedriver
blinker==1.7.0
google-genai
openai
